<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">

#if(${enableCache})
    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

#end
#if(${baseResultMap})
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
    #foreach($field in ${table.fields})
        #if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}" />
        #end
    #end
    #foreach($field in ${table.fields})
        #if(!${field.keyFlag})##生成普通字段
        <result column="${field.name}" property="${field.propertyName}" />
        #end
    #end
    #foreach($field in ${table.commonFields})##生成公共字段
        <result column="${field.name}" property="${field.propertyName}" />
    #end
    </resultMap>
#end
#if(${baseColumnList})
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ${table.fieldNames}#foreach($field in ${table.commonFields}), ${field.name} #end
    </sql>

#end
    <!-- 扩展通用查询映射结果 -->
    <resultMap id="ResultMapCustom" type="${package.Entity}.${entity}" extends="BaseResultMap">
    </resultMap>

    <!-- 查询条件的sql片段 -->
    <sql id="base_query_condition">
        <if test="null != cdtCustom">
            <!-- ${}拼接字符串，有sql注入的维修，少用-->
        </if>
        AND record_status != '00'
    </sql>

    <!--根据条件统计条数-->
    <select id="selectCountByQueryVo" parameterType="${package.Entity}.${entity}QueryVo" resultType="long">
        select count(1) from ${table.name}
        <where>
            <!-- 引用sql片段 的id,如果refid指定的id不在本mapper文件中,要前边加namespace -->
            <include refid="base_query_condition"></include>
        </where>
    </select>

    <!--根据条件查询-->
    <select id="selectListByQueryVo" parameterType="${package.Entity}.${entity}QueryVo" resultMap="ResultMapCustom">
        select
        <include refid="Base_Column_List"/>
        from ${table.name}
        <where>
            <!-- 引用sql片段 的id,如果refid指定的id不在本mapper文件中,要前边加namespace -->
            <include refid="base_query_condition"></include>
        </where>
        <include refid="cn.sk.api.base.mapper.IBaseMapper.base_order"/>
        <include refid="cn.sk.api.base.mapper.IBaseMapper.base_query_page"></include>
    </select>
</mapper>
